<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Booking Details</title>
    <link rel="stylesheet" href="/src/frontend/static/css/booking_details.css">

</head>
<body>
<div id="navbar_div">

    <div id="usernameAndImage_div">
        <img src="image/user_icon.png" class="navbar_icon" id="user_icon">
        <h2 id="username">Username</h2>
    </div>
    <div class="switchMBdiv">

        <button class= "button" >Movies</button>
        <button class ="button" >Bookings</button>
    </div>

    <div>
        <img src="image/logout_icon.png" class="navbar_icon" id="logout_icon">
    </div>

</div>
<div class="section_two">
    <div id = "add_bookings">
        <button>Add bookings</button>
    </div>
    <div id="search_bookings">
        <input type="text" placeholder="Search">
    </div>

</div>

<script src="js/main_page.js"></script>
</body>
</html>