<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Booking Details</title>
    <link rel="stylesheet" href="/src/frontend/static/css/booking_details.css">
</head>
<body>
<div id="navbar_div">

    <div id="usernameAndImage_div">
        <img src="image/user_icon.png" class="navbar_icon" id="user_icon">
        <h2 id="username">Username</h2>
    </div>
    <div class="switchMBDiv">
        <button class= "switchButton" >Movies</button>
        <button class ="switchButton" >Bookings</button>
    </div>

    <div>
        <img src="image/logout_icon.png" class="navbar_icon" id="logout_icon">
    </div>

</div>
<div class="section_two">
    <div id ="add_bookings_Div">
        <button class="addBookings" id="addBookings">Add bookings</button>
    </div>
    <div id="search_bookings">
        <input type="text" placeholder="Search">
    </div>

</div>

<div class="table_div">
    <h1 style="color: white">Bookings</h1>
    <table class="table" id="tblBookings">
        <tr>
            <th>Booking ID</th>
            <th>Showing Id</th>
            <th>Customer Name</th>
            <th>Email</th>
            <th>Phone Nr</th>
            <th>Nr Of Seat</th>
        </tr>
    </table>
</div>

<script src="js/booking_details.js"></script>
</body>
</html>