:root {
    --primary-color: #1c1c1c;
    --secondary-color: #262626;
}

button {
    background-color: #D65A31;
    color: rgb(239, 230, 230);
    height: 35px;
    width: 100px;
    margin: 4px;
    border-radius: 7px;
    cursor: pointer;
}

body{
    background-color: #060a0e;
    margin: 0;
    padding: 0;
}

#navbar_div{
    outline: white solid 2px;
    background-color: #161b22;
    height: 105px;
    display: flex;
    justify-content: space-between;

}

.navbar_icon{
    height: 90px;
    width: 90px;
}

#usernameAndImage_div{
    display: flex;
}

#user_icon{
    padding-left: 12px;
    padding-top: 9px;
}

#username{
    color: white;
    padding: 17px;
}

.switchMBDiv{
    padding: 41px 41px 41px 0px;
}

#logout_div{
    display: flex;
    justify-content: right;
}
#logout_icon {
    padding-top: 5px;
}
.section_two{
    display: flex;
    padding-top: 45px;
    margin-left: 295px;
}

#add_bookings button{
    margin-left: 300px;
}
#search_bookings input{
    margin-left: 750px;
    width: 250px;
    padding: 4px;
}

.switchButton{
    background-color: #d65a31db;

}

.button:hover{
    background-color: #ffffff;
    color: #d65a31db;
}

.table_div{
    text-align: center;
}
.table{
    margin-left: 188px;
    border: 2px solid white;
}
th{
    background-color: #393E46;
    color: white;
    height: 35px;
    width: 177px;
}
tr{
    color: white;
}

.updateBtn{
    height: 25px;
}
.deleteBtn{
    height: 25px;
}

.seatNr{
    position: relative;
    /*display: inline-block;*/
}
.seatNr .showSeatNr{
    visibility: visible;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
}

