:root {
    --primary-color: #1c1c1c;
    --secondary-color: #262626;
}

:root button {
    background-color: #d65a31;
    color: rgb(239, 230, 230);
    height: 25px;
    width: 100px;
    margin: 4px;
    border-radius: 7px;
    cursor: pointer;
}

body{
    background-color:#060A0E;
    margin: 0;
    padding: 0;
}

#navbar_div{
    outline: white solid 2px;
    background-color: #161B22;
    height: 105px;
    display: flex;
    justify-content: space-between;

}

.HeaderSections{
    display: flex;
    padding-top: 35px;
    padding-right: 120px;
}

.navbar_icon{
    height: 90px;
    width: 90px;
}

#usernameAndImage_div{
    display: flex;
}

#user_icon{
    padding-left: 12px;
    padding-top: 9px;
}

#username{
    color: white;
    padding: 17px;
}

.HeaderSections{
    color: #eeeeee;
    font-family: "Times New Roman";
    font-size: 24px;
}

#logout_div{
    display: flex;
    justify-content: right;
}
#logout_icon {
    padding-top: 5px;
}

.section_center{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    padding-bottom: 30px;
}


.editSchedule_div{
    padding-left: 40px;
    padding-bottom: 20px;
    padding-top: 20px;

}

.button{
    background-color: rgb(130, 126, 126);
    color: rgb(239, 230, 230);
    height: 25px;
    width: 100px;
    margin: 4px;
    border-radius: 7px;
    cursor: pointer;
}

.button:hover{
    background-color: rgb(239, 230, 230);
    color: rgb(130, 126, 126);
}

.schedule_table, th, td{
    color: white;
    border: 1px solid #d65a31;
    border-collapse: collapse;
    /*width: 1500px;*/
    /*height: 40px;*/
}
.schedule_table{
    width: 1500px;
    height: 40px;
}

td, th{
    height: 60px;
    width: 185px;
}


.editSchedule_div{
    display: flex;
}
#saveSchedule_button{
    display: none;
}

/*#editSchedule_button{*/
/*    display: inline;*/
/*}*/

.dropdown_div{
    display: none;
    flex-direction: column;
    align-items: center;
}
.data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.drop_menu_name{
    display: inline;
    width: 55%
}

.drop_menu_time{
    display: inline;
    width: 55%
}


