#popoupInputField{
    display: flex;
    justify-content:space-evenly;
    padding-top: 20px;
    padding-bottom: 20px;
}

.popup{
    outline: white solid 2px;
    width: 900px;
    height: 650px;
    background: #161B22;
    color: #fff;
    border-radius: 7px;
    position: fixed;
    top:0;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    padding: 0 30px 30px;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}
h1{
    text-align: center;
    padding-top: 15px;
}
.input_class, input{
    width: 400px;
    border-width: 1px;
    border-color: var(--secondary-color);
    border-radius: 7px;
    justify-content: flex-end;
}

#image {
    width: 300px;
    height: 432px;
    outline: white solid 1px;
}

.input_class,textarea{
    width: 400px;
    border-width: 1px;
    border-radius: 7px;
}





/*.open-popup{*/
/*    visibility: hidden;*/
/*    margin-top: 26%;*/
/*    transform: translate(-50%,-50%) scale(1);*/
/*}*/
/*
.popup button{
    background-color: rgb(25,28,34);
    color: rgb(239, 230, 230);
    height: 33px;
    width: 180px;
    border-radius: 7px;
    cursor: pointer;
}

 */



#buttons_div{
    display: flex;
    justify-content: space-evenly;
}