.movieCard_frame {
    width: 750px;
    height: 475px;
    background: #262626;
    position: relative;
    border-radius: 30px;
    overflow: hidden;
}

.image {
    width: 294px;
    height: 400px;
    background: #1c1c1c;
    position: absolute;
    top: 37px;
    left: 39px;
    border: 2px solid rgba(255,255,255,1);
    border-radius: 30px;
    overflow: hidden;
}

#rightSideCard {
    width: 350px;
    height: 400px;
    color: white;
    position: absolute;
    top: 37px;
    left: 360px;
    text-align: left;
}

.title {
    font-size:50px;
    font-weight: bold;
}

.subTitles {
    font-size: 30px;
    font-weight: bold;
}
.movieNumbers {
    font-size: 20px;
    display: flex;
    justify-content: space-evenly;
}
.movieInfo {
    color: white;
    font-size: 20px;
}

.text {
    font-size: 20px;
}

.timesInfo {
    width: 300px;
    display: flex;
    justify-content: space-evenly;
    color: white;
    font-size: 20px;
}

.mcButtons {
    background-color: #d65a31;
    color: rgb(239, 230, 230);
    height: 25px;
    width: 100px;
    margin: 4px;
    border-radius: 7px;
    cursor: pointer;

}
