<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bookings</title>
  <link rel="stylesheet" href="../static/css/booking_details.css">
</head>
<body>
<div id="navbar_div">

  <div id="usernameAndImage_div">
    <img src="image/user_icon.png" class="navbar_icon" id="user_icon">
    <h2 id="username">Username</h2>
  </div>
  <div class="switchMBDiv">
    <button class= "switchButton" >Movies</button>
    <button class ="switchButton" >Bookings</button>
  </div>

  <div>
    <img src="image/logout_icon.png" class="navbar_icon" id="logout_icon">
  </div>

</div>
<div class="section_two">
  <div id ="add_bookings_Div">
    <button class="addBookings" id="addBookings">Add bookings</button>
  </div>
  <div id="search_bookings">
    <input type="text" placeholder="Search">
  </div>

</div>

<div class="table_div">
  <h1 style="color: white">Bookings</h1>
  <table class="table" id="bookingsTbl">
    <tr>
      <th style="width: 95px;">Booking ID</th>
      <th style="width: 95px;">Showing Id</th>
      <th style="width: 200px;">Customer ID</th>
      <th style="width: 95px;">Nr Of Seat</th>
      <th style="width: 95px;">Snack ID</th>
      <th></th>
      <th></th>
    </tr>
  </table>
</div>






<div class="popupBookings" id="popupBookings">
  <h1>Insert your data</h1>

  <div id="popoupBookingsField">

    <div class="inputBooking_class">

      <label for="bookingID">Booking ID:</label>
      <br>
      <input type="number" id="bookingID" maxlength="4" ><br><br>


      <label for="showingID">Showing ID:</label>
      <br>
      <input type="number" id="showingID" maxlength="4" ><br><br>


      <label for="customerID">Customer ID:</label>
      <br>
      <input type="text" id="customerID"><br><br>


      <label for="nrOfSeats">Nr of Seats:</label>
      <br>
      <input type="number" id="nrOfSeats" maxlength="3" ><br><br>

      <label for="snackID">Snack ID:</label>
      <br>
      <input type="number" id="snackID" maxlength="3" ><br><br>


    </div>
  </div>

  <div class="buttons_div">
    <button type="button" class="button" id="saveBooking_btn" onclick="setInputValue()">Save</button>
    <button type="button" class="button" id="cancelBooking_btn">Cancel</button>
  </div>
</div>






<script src="js/booking_details.js"></script>
<!--<script src = "js/main_page.js"></script>-->

</body>
</html>