<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>

<section class="credentials-section">

    <div class="wholeForm">
        <p class="headingOfForm"></p>

        <form class="loginForm" >
            <h1 style="color: white; margin-left: 90px; margin-bottom: 10px;">Log in</h1>
            <img src="../static/images/loginIcon.png" , style="margin-left: 110px; margin-bottom: 6px;" alt="" height="30px" width="30px">

            <br>

            <input class="userInpFld" type="text"  name="username" placeholder="username" required>
            <input class="passInpFld" type="password" name="password" placeholder="password" required>

            <br>

            <p class="lgAlertMsg" style="color:red; font-size: 11px; margin-left: 70px"></p>

            <button id = "login-btn" type='submit' class='submit-btn'>Log in</button>

            <br>

            <a href="#">Forgot your password?</a>

            <br>
            <a style="margin-left: 70px;" class="rgFormlinkTag" href="#" >Create an account</a>

        </form>

        <form class="registrationForm">

            <h1 style="color: white; margin-left: 65px; margin-bottom: 10px;">Registration</h1>
            <img src="../static/images/RegistrationIcon.png" , style="margin-left: 110px; margin-bottom: 8px;" alt="" height="30px" width="30px">

            <input class="regUserFld" type="text"  name="username" placeholder="username" required>
            <input class="regEmailFld" type="text"  name="username" placeholder="email" required>
            <input class="regPassFld" type="password" name="password" placeholder="password" required>
            <input class="confirmPassFld" type="password" name="password" placeholder="confirm password" required>

            <br>

            <p class="rgAlertMsg" style="color:red; font-size: 11px; margin-left: 70px"></p>


            <button id = "register-btn" type='submit' class='submit-btn'>Registration</button>

            <br>

            <p style="color: gray; margin-left: 50px; margin-top: 8px; margin-bottom: 4px;" >Already have an account?</p>
            <a style="margin-left: 70px;" class="loginFormlinkTag" href="#" >Go to login form</a>

        </form>

        <hr class="formFooterLine">
        <p class="formFooterPara" >© All rights reserved by DuzeXP</p>

    </div>
<!--end-->
</section>

<script src="js/index.js"></script>

</body>
</html>