<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="/src/frontend/static/css/main_page.css">
    <link rel="stylesheet" href="/src/frontend/static/css/Popup.css">
</head>
<body>
<div id="navbar_div">

    <div id="usernameAndImage_div">
        <img src="image/user_icon.png" class="navbar_icon" id="user_icon">
        <h2 id="username">Username</h2>
    </div>

    <div>
        <img src="image/logout_icon.png" class="navbar_icon" id="logout_icon">
    </div>

</div>


<!-- KEV AND MADALIN -->
<div class="popup" id="popup">
    <h1>Insert your data</h1>

    <div id="popoupInputField">
        <div>
            <br>
            <input type="image" id="image" alt = "Insert a image here"><br><br>
        </div>

        <div class="input_class">

            <label for="title">Title:</label>
            <br>
            <input type="text" id="popupTitle"><br><br>

            <label for="popupYear">Year:</label>
            <br>
            <input type="text" id="popupYear" maxlength="4" ><br><br>

            <label for="popupPG_id">Age Limit:</label>
            <br>
            <input type="text" id="popupPG_id" maxlength="2"><br><br>

            <label for="popupLength">Length(minutes):</label>
            <br>
            <input type="text" id="popupLength" maxlength="4"><br><br>

            <label for="popupCast_id">Cast:</label>
            <br>
            <input type="text" id="popupCast_id"><br><br>

            <label for="popupDescription">Description:</label>
            <br>
            <textarea name="paragraph_text" id="popupDescription" cols="50" rows="10"></textarea><br><br>

        </div>
    </div>

    <div id="buttons_div">
        <button type="button" class="button" id="saveMovie_btn" onclick="setInputValue()">Save</button>
        <button type="button" class="button" id="cancel_btn">Cancel</button>
    </div>
</div>

<section class="section" id="movie_section">

    <div id="sectionTitle_div">
        <h1 id="title">Movies</h1>
    </div>

    <div class="addMovie_div">
        <button class="button" id="newMovie_button">Add Movie</button>
    </div>

    <div class="section_center">
        <div class="movieCard">
            <img src="image/starwars_Movie.jpeg" class="movie_image">

            <div class="card_info">
                    <h1 class="movieTitle" id="movie">Star Wars: The Rise of Skywalker </h1>
                <div class="importantMovieInfo">
                    <h4 class="movieInfo" id="movieYear">2019</h4>
                    <h4 class="movieInfo">|</h4>
                    <h4 class="movieInfo">PG: 17</h4>
                    <h4 class="movieInfo">|</h4>
                    <h4 class="movieInfo">182 minutes</h4>
                </div>

                <h4 class="movieInfoHeader">Description:</h4>
                <h4 class="movieInfo"> I've Never Seen Star Wars </h4>

                <h4 class="movieInfoHeader">Cast:</h4>
                <h4 class="movieInfo"> I've Never Seen Star Wars </h4>

                <div class="cardButton_div">
                    <button class="button" id="editMovie_button">Edit</button>
                    <button class="button" id="deleteMovie_button">Delete</button>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="js/main_page.js"></script>
</body>
</html>