<!DOCTYPE html>
<html>
<head>
    <link href="/src/frontend/static/css/test.css" rel="stylesheet" />
</head>
<body>

<div>
        <div class="movieCard_frame">
            <div class="image"></div>

            <div id="rightSideCard">
                <span class="title">Title</span>
                <br>

                <div class="movieNumbers">
                <span>Year </span>
                <span>|</span>
                <span>PG</span>
                <span>|</span>
                <span>Duration</span>
                </div>

                <br>
                <span class="subTitles">Description</span>
                <br>
                <span class="text">Lorem ipsum dolor sit amet, consectetur  </span>
                <br>
                <br>

                <span class="subTitles">Theater</span>
                <br>
                <div class="timesInfo">
                    <span>T1</span>
                    <span>|</span>
                    <span>T2</span>
                    <span>|</span>
                    <span>T3</span>
                    <span>|</span>
                    <span>T4</span>
                </div>
                <br>

                <span class="subTitles">Times</span>
                <br>
                <div class="timesInfo">
                    <span>ts1</span>
                    <span>|</span>
                    <span>ts2</span>
                    <span>|</span>
                    <span>ts3</span>
                    <span>|</span>
                    <span>ts4</span>
                </div>
                <br>
                <div>
                    <button id="mcEditBtn" class="mcButtons">Edit</button>
                    <button id="mcDeleteBtn" class="mcButtons">Delete</button>
                </div>
            </div>
    </div>
</div>