<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="/static/css/main_page.css">
</head>
<body>

<div id="navbar_div">

    <div id="usernameAndImage_div">
        <img src="image/user_icon.png" class="navbar_icon" id="user_icon">
        <h2 id="username">Username</h2>
    </div>

    <div>
        <img src="image/logout_icon.png" class="navbar_icon" id="logout_icon">
    </div>

</div>

<section class="section" id="movie_section">
    <div id="sectionTitle_div">
        <h1 id="title">Movies</h1>
    </div>

    <div class="addMovie_div">
        <button class="addMovie_button">Add Movie</button>
    </div>
    <div class="section_center">

        <div class="movieCard">
            <img src="image/shrek_movie.jpg" class="movie_image">

            <div class="card_info">
                <h1 class="movieTitle">SHREK</h1>

                <div class="importantMovieInfo">
                    <h4 class="movieInfo">2001</h4>
                    <h4 class="movieInfo">|</h4>
                    <h4 class="movieInfo">3+</h4>
                    <h4 class="movieInfo">|</h4>
                    <h4 class="movieInfo">90 minutes</h4>
                </div>

                <h4 class="movieInfoHeader">Description:</h4>
                <h4 class="movieInfo">This is going to be the description of the film </h4>

                <h4 class="movieInfoHeader">Cast:</h4>
                <h4 class="movieInfo"> I've Never Seen Star Wars </h4>

                <div class="cardButton_div">
                    <button class="card_button" id="edit_button">Edit</button>
                    <button class="card_button" id="delete_button">Delete</button>
                </div>

            </div>
        </div>

        <div class="movieCard">
            <img src="image/starwars_Movie.jpeg" class="movie_image">
            <div class="card_info">
                <h1 class="movieTitle">Star Wars: The Rise of Skywalker</h1>
                <div class="importantMovieInfo">
                    <h4 class="movieInfo">2001</h4>
                    <h4 class="movieInfo">|</h4>
                    <h4 class="movieInfo">PG: 17</h4>
                    <h4 class="movieInfo">|</h4>
                    <h4 class="movieInfo">182 minutes</h4>
                </div>

                <h4 class="movieInfoHeader">Description:</h4>
                <h4 class="movieInfo"> I've Never Seen Star Wars </h4>

                <h4 class="movieInfoHeader">Cast:</h4>
                <h4 class="movieInfo"> I've Never Seen Star Wars </h4>

                <div class="cardButton_div">
                    <button class="card_button" id="edit_button">Edit</button>
                    <button class="card_button" id="delete_button">Delete</button>
                </div>

            </div>
        </div>

    </div>


</section>

</body>
</html>