<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Popup Design</title>
  <link rel="stylesheet" href="static/css/Popup.css">
  <link rel="stylesheet" href="/static/css/Popup.css">
</head>
<body>
<div class="container">
  <button type ="button" class="btn" onclick='openPopup()'>Add</button>
  <button type ="button" class="btn" onclick='openPopup()'>Edit</button>


  <div class="popup" id="popup">
    <h1>Insert your data</h1>
    <h2>
      <label for="image">Image:</label>
      <br>
      <input type="image" id="image" alt = "Insert a image here"><br><br>
    </h2>
    <div class="input_class"><h2>
      <label for="title">Title:</label>
      <br>
      <input type="text" id="title"><br><br>




      <label for="year">Year:</label>
      <br>
      <input type="number" id="year" ><br><br>

      <label for="PG_id">Age Limit:</label>
      <br>
      <input type="text" id="PG_id" ><br><br>

      <label for="lenght">Length(minutes):</label>
      <br>
      <input type="number" id="lenght" ><br><br>

      <label for="cast_id">Cast:</label>
      <br>
      <input type="text" id="cast_id"><br><br>

      <label for="description">Description:</label>
      <br>
      <textarea name="paragraph_text" id="description" cols="50" rows="10"></textarea><br><br>


    </h2>
    </div>
    <button type="button" onclick='closePopup()'>Save</button>
  </div>
</div>

<script>
  let popup = document.getElementById('popup');

  function openPopup(){
    popup.classList.add('open-popup')
  }
  function closePopup(){
    popup.classList.remove('open-popup')
  }
</script>
</body>
</html>